main {
	hr {
		margin: 33px 0 40px 0;
	}
	section {
		overflow: hidden;
	}
	
	img {
		@extend .img-responsive;

		&.pull-left {
			margin-right: 40px;
		}
		&.pull-right {
			margin-left: 40px;
		}

	}

	&:not(.post) {
		img {
			@extend .img-circle;
		}

	}

	h2 {
		font-size: 50px;
		span {@extend .text-muted;
		}

	}

	@media(max-width:1200px) {
		h2 {
			font-size: 35px;
		}

		img {
			max-width: 50%;
			&.pull-left {
				margin-right: 20px;
			}
			&.pull-right {
				margin-left: 20px;
			}

		}

	}

	@media(max-width:991px) {
		h2 {
			font-size: 30px;
		}

		img {
			
			&.pull-left {
				margin-right: 10px;
			}
			&.pull-right {
				margin-left: 10px;
			}

		}

	}

	@media(max-width:768px) {
    
		img {
			&.pull-left {
				margin-right: 10px;
			}
			&.pull-right {
				margin-left: 10px;
			}

		}

	}


	@media(max-width:668px) {
		img {
			max-width: 100%;
			&.pull-left {
				margin-right: 0;
			}
			&.pull-right {
				margin-left: 0;
			}

		}
		
		&:not(.post) {
			img {
				&.pull-left,
				&.pull-right {
					float: none !important;
					clear: both;
					margin: 1em auto;
				}

			}

		}
		hr {
			margin: 33px 0;
		}

	}

	@media(max-width:375px) {
	
		hr {
			margin: 33px 0 10px 0;
		}

	}

}

.social li {
	list-style-type: none;
	display: inline-block;
	margin: 1em;
}
