---
layout: default
heading: musubi
subheading: ict, agro-ecologie en aikido
description: "ICT, agro-ecologie en aikido. Musubi betekent letterlijk 'knopen, verbinden'. In het Shintoïsme is het de energie die in elk van ons zit en in alles om ons heen. Via Musubi help ik graag mensen en organisaties vooruit die een positieve bijdrage willen leveren aan de samenleving. Verbinden en dingen in beweging brengen zie ik als de kern van mijn werk."
---

{% include header.html %}

<div class="container">
			<div class="intro">
				<p><strong>Musubi</strong> betekent letterlijk <mark>'<em>knopen, verbinden</em>'.</mark> In het Shintoïsme is het de energie die in elk van ons zit en in alles om ons heen. Via Musubi help ik graag mensen en organisaties vooruit die een positieve bijdrage willen leveren aan de samenleving. Verbinden en dingen in beweging brengen zie ik als de kern van mijn werk.</p>
			</div>
  {% include features.html %}
  {% include footer.html %}
</div>
