<main>
  {% for feature in site.features %}
    <span id='{{ feature.id | remove: '/features/' | remove: '01-' | remove: '02-' | remove: '03-' | remove: '04-' | remove: '05-' }}'>&nbsp;</span>
	<hr>

    <section>
      <img class='{% cycle 'pull-right', 'pull-left' %}' src='{{ feature.image }}'>
      <h2>{{ feature.heading }}<br /><span>{{ feature.subheading }}</span></h2>
      <div class='lead'>{{ feature.content }}</div>
	  <p class='back-to-top'>
		  <a href='#top' class='top'><i class='fa fa-angle-up'>&nbsp;</i></a>
	  </p>
    </section>
	
  {% endfor %}

</main>