<footer>
  <div class='row'>
    <div class='col-lg-12'>
		
		<div class='social'>

			  {% if site.github_username %}
			    <li>
			      <a href="https://github.com/{{ site.github_username }}">
			        <i class="fa fa-github"></i> GitHub
			      </a>
			    </li>
			  {% endif %}
	  
			  {% if site.bitbucket_username %}
			    <li>
			      <a href="https://www.bitbucket.com/{{ site.bitbucket_username }}">
			        <i class="fa fa-bitbucket"></i> BitBucket
			      </a>
			    </li>
			  {% endif %}
	  
			  {% if site.facebook_username %}
			    <li>
			      <a href="https://www.facebook.com/{{ site.facebook_username }}">
			        <i class="fa fa-facebook"></i> Facebook
			      </a>
			    </li>
			  {% endif %}

			  {% if site.linkedin_username %}
			    <li>
			      <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
			        <i class="fa fa-linkedin"></i> LinkedIn
			      </a>
			    </li>
			  {% endif %}
		</div>
		
	<div class='adres'>
		<p><strong>Pablo Pivetta</strong> | Meerhem 57, B-9000 Gent - <i class="fa fa-mobile-phone"></i> +32 (0)488 35 87 76 - <i class="fa fa-inbox"></i> <a href="mailto:pablo@musubi.be">pablo@musubi.be</a>
		<p>Btw: BE 0894.356.034 - Triodos: BE70 5230 8071 8425</p>
	</div>

  <p><a href="http://creativecommons.org/licenses/by/4.0/"><i class="fa fa-creative-commons"></i></a></p>
	  
	  
    </div>
  </div>
</footer>