<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  
{% if page.title %}
  	<meta property="og:title" content="{{ page.title }}">
{% if page.description %}
	<meta name="description" content="{{ page.description }}">
    <meta name="og:description" content="{{ page.description }}">
    {% else if content %}
    <meta name="description" content="{{ content | strip_html | truncatewords: 25 }}">
    <meta name="og:description" content="{{ content | strip_html | truncatewords: 25 }}">
    {% endif %}
  {% else %}
    <meta name="description" content="Pablo Pivetta | Musubi - mensen en organisaties verbinden via ict, agro-ecologie en aikido">
  {% endif %}
  {% if page.og_image_url %}
  <meta property="og:image" content="{{ page.og_image_url }}">
  {% else if page.photo_url %}
  <meta property="og:image" content="{{ page.photo_url }}">
  {% else %}
  <meta property="og:image" content="http://www.musubi.be/images/musubi.jpg" />
  {% endif %}
  <meta property="og:site_name" content="musubi.be">
  <meta property="og:locale" content="nl_BE" />
  <meta property="og:url" content="http://www.musubi.be{{ page.url }}" />
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date: "%d-%m-%Y" }}">
  {% endif %}


  <title>{{ site.title }}</title>

  <link href='{{ site.baseurl }}/assets/app.css' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' id='lora-css'  href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&#038;subset=latin' type='text/css' media='all' />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}/favicon.ico' />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>